
<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
  <style>
    body {font-family: 'Hammersmith One', sans-serif;}
  </style>
  <title> </title>
  <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</head>

<body>
  <table style = "background-color: blue;">
    <tr>
      <td>
	<img src = "../images/tfllogo.jpg">
      </td>
      <td>
	{% block route %}
	{% endblock %}
      </td>
      <td>
	<img src = "../images/underground.png">
      </td>
    </tr>
  </table>
  {% block body %}
  {% endblock %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
