<!doctype html>
<head>
  <title> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<script>
	function goBack() {
		window.history.back();
	}
	</script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
	<div class="collapse navbar-collapse">
	   <ul class="nav navbar-nav">
			<li class="pull-left"><a class="navbar-brand" href=""><img id="brand-image" src = "../images/underground.png" style="height:50px;margin-top:-15px"></a></li>
			<p class="navbar-text">{% block route %}</p>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<button class="btn btn-danger navbar-btn" onclick=goBack()">Back</button>
		</ul>
	</div>
  </div>
  </nav>
</body>
</html>
