{% extends "base.html" %}
{% block body %}
<form action = "/map" method ="POST">
  <table>
    <tr>
      <td>
	<Button type = "submit" name = "way" value = "Bakerloo"> Bakerloo</button>
      </td>
      <td>
	<Button type = "submit" name = "way" value = "Hammersmith & City">Hammersmith & City</button>
      </td>
      <td>
	<Button type = "submit" name = "way" value = "Victoria">Victoria</button>
      </td>
    </tr>
    
    <tr>
      <td>
	<Button type = "submit" name = "way" value = "Central">Central</button>
      </td>
      <td>
	<Button type = "submit" name = "way" value = "Jubilee">Jubilee</button>
    </td>
      <td>
	<Button type = "submit" name = "way" value = "See Whole Map">See Whole Map</button>
      </td>
    </tr>
    
    <tr>
      <td>
	<Button type = "submit" name = "way" value = "Circle">Circle</button>
      </td>
      <td>
	<Button type = "submit" name = "way" value = "Northern">Northern</button>
      </td>
      <td>
	
      </td>
    </tr>
    
    <tr>
      <td>
	<Button type = "submit" name = "way" value = "District">District</button>
      </td>
      <td>
	<Button type = "submit" name = "way" value = "Piccadilly">Piccadilly</button>
      </td>
      <td>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
