{% extends "base.html" %}
{% block route %}
{% endblock %}

{% block body %}
<table>
  <tr>
    <th>
<svg xmlns="http://www.w3.org/2000/svg" id="map" height="900px" width="1700px" style="border-style: solid; background-color: lightgrey;">
</svg>
<span id="test"></span>
</th>
  <th><center>

    <table>

      <tr>
    Station Information: Bakerloo - Kensal Green Stop</tr>

      <tr><th>Train #</th>
        <th> Train coming in </th></tr>

      <tr><th>Train 3</th>
        <th> 23 min </th></tr>

      <tr><th>Train 5</th>
        <th> 33 min </th></tr>

    </table></center>


  </th>
</tr>

</table>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='map.js') }}" type="text/javascript"></script>
{% endblock %}
