
<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
  <style>
    body {font-family: 'Hammersmith One', sans-serif; margin-top:130px;}
    	ul{
	position:fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
	p{
	float: left;
	color: white;
	text-align: center;
	padding: 0px 30px;
	text-decoration: none;
	}
  </style>
  <title> </title>
  <!--<script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>-->
  <script src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

</head>

<body>
	<ul>
		<p>	<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Transport_for_London_logo_%282013%29.svg/2000px-Transport_for_London_logo_%282013%29.svg.png" height="75"></p>
		<p style="font-size:220%" id="title">{{name}}</p>
		<p style="float:right"> <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Underground.svg/150px-Underground.svg.png" height="75"> </p>
	</ul>

  <table>
    <tr>
      <th>
	<svg xmlns="http://www.w3.org/2000/svg" id="map" height="600px" width="1000px" style="border-style: solid; background-color: lightgrey;">
	</svg>
	<span id="test"></span>
      </th>
      <th><center>

	  <table>

	    <tr>
	      Station Information: Bakerloo - Kensal Green Stop</tr>

	    <tr><th>Train #</th>
              <th> Train coming in </th></tr>

	    <tr><th>Train 3</th>
              <th> 23 min </th></tr>

	    <tr><th>Train 5</th>
              <th> 33 min </th></tr>

	</table></center>


      </th>
    </tr>
    <form action = "/map" method = "POST">
      <tr>
	<td>
	  <input type="radio" name = "bound" value = "in" checked> Inbound <br>
	  <input type="radio" name = "bound" value = "out"> Outbound <br>
	  <input type="hidden" value={{name}} id="lineName"></td>
	</td>
      </tr>
      <tr>
	<table>
	  <tr>
	    <td>
	      <Button type = "submit" name = "way" value = "bakerloo"> Bakerloo</button>
	    </td>
	    <td>
	      <Button type = "submit" name = "way" value = "hammersmith-city">Hammersmith & City</button>
	    </td>
	    <td>
	      <Button type = "submit" name = "way" value = "victoria">Victoria</button>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <Button type = "submit" name = "way" value = "central">Central</button>
	    </td>
	    <td>
	      <Button type = "submit" name = "way" value = "jubilee">Jubilee</button>
	    </td>
	    <td>
	       <button type = "submit" name = "way" value = "waterloo-city">Waterloo & City</button>
	    </td>
	  </tr>

	  <tr>
	    <td>
	      <Button type = "submit" name = "way" value = "circle">Circle</button>
	    </td>
	    <td>
	      <Button type = "submit" name = "way" value = "northern">Northern</button>
	    </td>
	    <td>
			<Button type = "submit" name = "way" value = "All">See Whole Map</button>

	    </td>
	  </tr>

	  <tr>
	    <td>
	      <Button type = "submit" name = "way" value = "district">District</button>
	    </td>
	    <td>
	      <Button type = "submit" name = "way" value = "piccadilly">Piccadilly</button>

	    </td>
	    <td>
	    </td>
	  </tr>
	</table>
      </tr>
    </form>


  </table>



  {% block scripts %}
  <script src="{{ url_for('static', filename='map.js') }}" type="text/javascript"></script>
  {% endblock %}

</body>
</html>
