{% extends basic.html &}
<table>
  <tr>
    <td>
      Bakerloo
    </td>
    <td>
      Hammersmith & City
    </td>
    <td>
      Victoria
    </td>
  </tr>

  <tr>
    <td>
      Central
    </td>
    <td>
      Jubilee
    </td>
    <td>
      See Whole Map
    </td>
  </tr>

  <tr>
    <td>
      Circle
    </td>
    <td>
      Northern
    </td>
    <td>
      
    </td>
  </tr>

  <tr>
    <td>
      District
    </td>
    <td>
      Piccadilly
    </td>
    <td>
    </td>
  </tr>
</table>
{% endblock %}
